<div class="row question">
    <div style="margin-bottom: 30px">
        <span class="sort-categories">Sign up to ask and answer</span>
    </div>

    <form class="needs-validation" novalidate>
        <div class="d-flex ms-5 mb-3">
            <label for="inputLogin" class="col-sm-3 col-form-label col-form-label-lg"
                   style="font-weight: 600;">Login</label>
            <div class="d-flex flex-column">
                <div class="d-flex w-100 ms-3">
                    <input type="text" class="form-control" placeholder="login" id="inputLogin" maxlength="15" required>
                </div>
                <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please enter username.
                </div>
            </div>
        </div>
        <div class="d-flex ms-5 mb-3">
            <label for="inputEmail" class="col-sm-3 col-form-label col-form-label-lg"
                   style="font-weight: 600;">Email</label>
            <div class="d-flex flex-column">
                <div class="d-flex w-100 ms-3">
                    <input type="email" class="form-control" placeholder="user@mail.com" id="inputEmail" maxlength="20"
                           required>
                </div>
                <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please enter email.
                </div>
            </div>
        </div>
        <div class="d-flex ms-5 mb-3">
            <label for="inputPassword" class="col-sm-3 col-form-label col-form-label-lg"
                   style="font-weight: 600;">Password</label>
            <div class="d-flex flex-column">
                <div class="d-flex w-100 ms-3">
                    <input type="password" class="form-control" placeholder="password" id="inputPassword" maxlength="20"
                           required>
                </div>
                <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please enter password.
                </div>
            </div>
        </div>
        <div class="d-flex ms-5 mb-3">
            <label for="inputPassword2" class="col-sm-3 col-form-label col-form-label-lg"
                   style="font-weight: 600;">Repeat password</label>
            <div class="d-flex flex-column">
                <div class="d-flex w-100 ms-3">
                    <input type="password" class="form-control" placeholder="password" id="inputPassword2"
                           maxlength="20" required>
                </div>
                <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please repeat password.
                </div>
            </div>
        </div>
        <div class="d-flex ms-5 mb-3">
            <label for="inputAvatar" class="col-sm-3 col-form-label col-form-label-lg"
                   style="font-weight: 600;">Avatar</label>
            <div class="d-flex mt-2 ms-3">
                <input type="file" class="form-control" id="inputAvatar">
            </div>
        </div>
        <div class="d-flex mb-3 ms-5">
            <div class="col-sm-3"></div>
            <div class="d-flex ms-3">
                <button type="submit" class="btn btn-success btn-lg">Register</button>
            </div>

        </div>
    </form>

</div>