{% load static %}

<div class="row question">
    <div style="margin-bottom: 30px">
        <span class="sort-categories" style="font-weight: 300; margin-right: 10px;">Settings:</span><span
            class="sort-categories">{{ request.user.username }}</span>
    </div>

    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}

        {% if form_updated %}
            <div class="alert alert-success" role="alert">
                Changes saved successfully!
            </div>
        {% endif %}

        {% for form_field in form %}
            <div class="d-flex ms-5 mb-3">
                <label for="inputLogin" class="col-sm-2 col-form-label col-form-label-lg"
                       style="font-weight: 600;">{{ form_field.label }}</label>
                <div class="d-flex w-100">
                    {{ form_field }}
                </div>
                <div class="d-flex w-100 ms-3 invalid-feedback">
                    {{ form_field.errors }}
                </div>
            </div>
        {% endfor %}

        {% for avatar in ava %}
            <div class="d-flex ms-5 mb-3">
                <label for="inputAvatar" class="col-sm-2 col-form-label col-form-label-lg"
                       style="font-weight: 600;">{{ avatar.label }}</label>
                <div class="d-flex flex-column">
                    {{ avatar }}
                    <div class="d-flex w-100 ms-3 invalid-feedback">
                        {{ avatar.errors }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="d-flex mb-3 ms-5">
            <div class="col-sm-2"></div>
            <div class="d-flex">
                <button type="submit" class="btn btn-success btn-lg">Save</button>
            </div>

        </div>
    </form>

</div>