{% load static %}

<header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "new_questions" %}">AskSamoylov</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex search-container" style="padding-left: 10px; width: 50%">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search..."
                           aria-label="Search"/>
                </form>
                <button onclick="location.href='{% url "ask_question" %}'" type="button" class="btn btn-success ask-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#637067" class="bi bi-pencil"
                         viewBox="0 0 20 20">
                        <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                        </path>
                    </svg>
                    <span class="ask-button-text">ASK</span>
                </button>
            </div>

                {% if request.user.is_authenticated %}
            {% include "include/header_side_logged.html" %}
                {% else %}
            {% include "include/header_side_unlogged.html" %}
                {% endif %}
        </div>
    </nav>
</header>