<div>
    <span class="top-categories">Popular Tags</span>
    <div class="d-flex align-items-end mt-3">
        <div class="d-flex me-3 text-success">
            Techopark
        </div>
        <div class="d-flex me-3 text-danger fs-4">
            python
        </div>
        <div class="d-flex me-3">
            MySQL
        </div>
    </div>
    <div class="d-flex align-items-end">
        <div class="d-flex me-3">
            VSCode
        </div>
        <div class="d-flex me-3 fs-4 text-success">
            Ubuntu
        </div>
        <div class="d-flex me-3 text-success">
            schemes
        </div>
    </div>
    <div class="d-flex align-items-end">
        <div class="d-flex me-3 text-danger fs-4">
            django
        </div>
        <div class="d-flex me-3">
            Chrome
        </div>
        <div class="d-flex me-3">
            perl
        </div>
    </div>
</div>


<div class="mt-5">
    <span class="top-categories">Top Members</span>
    <div class="mb-2 mt-3">
        <a class="top-members isDisabled" href="#">Tim Roberts</a>
    </div>
    <div class="mb-2">
        <a class="top-members isDisabled" href="#">unutbu</a>
    </div>
    <div class="mb-2">
        <a class="top-members isDisabled" href="#">Alex Martelli</a>
    </div>
    <div class="mb-2">
        <a class="top-members isDisabled" href="#">jezrael</a>
    </div>
    <div class="mb-2">
        <a class="top-members isDisabled" href="#">Sven Marnach</a>
    </div>
</div>