{% load static %}

<div>
    <span class="top-categories">Popular Tags</span>
    <div class="d-flex flex-wrap align-items-end mt-2 mb-3">
        {% for tag in popular_tags %}
            {% if tag.rating > 40 %}
                <div class="d-flex me-5 mb-2 tag">
                    <a class="tag-link link-danger super-popular-tag"
                       href="{% url 'tag_page' name=tag %}">{{ tag }}</a>
                </div>
            {% elif tag.rating > 25 %}
                <div class="d-flex me-5 mb-2 tag">
                    <a class="tag-link link-warning popular-tag" href="{% url 'tag_page' name=tag %}">{{ tag }}</a>
                </div>
            {% elif tag.rating > 10 %}
                <div class="d-flex me-5 mb-2 tag">
                    <a class="tag-link link-success tag" href="{% url 'tag_page' name=tag %}">{{ tag }}</a>
                </div>
            {% else %}
                <div class="d-flex me-5 mb-2 tag">
                    <a class="tag-link link-dark common-tag" href="{% url 'tag_page' name=tag %}">{{ tag }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<div class="mt-7">
    <span class="top-categories">Top Members</span>
    {% for member in best_members %}
        <div class="mb-2 mt-1">
            <a class="top-members isDisabled" href="#">{{ member.user_id }}</a>
        </div>
    {% endfor %}
</div>