{% load static %}
{% load index %}

<div class="row question">
    <div class="question-left d-flex align-items-start flex-column">
        <img src="{{ question.profile_id.avatar.url }}" alt="User Avatar"/>
        <div class="mt-auto">
                <span class="badge bg-light text-dark answers-quantity"><a
                        href="{% url "question_page" pk=question.id %}"
                        style="color: #323834">{{ question.number_of_answers }}
                    answers</a></span>
        </div>
        {% include 'include/rating.html' with type='question' pk=question.pk rating=question.rating %}
    </div>
    <div class="question-right">
        <div class="question-header">
            <a href="{% url "question_page" pk=question.id %}" class="question-header">{{ question.title }}</a>
        </div>
        <div style="white-space: pre-wrap">{{ question.text }}</div>
        <div class="tags-container">

            {% for tag in question.tags.all %}
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="{% url "tag_page" name=tag %}" class="tag-text">
                      {{ tag }}
                  </a>
                </span>
            {% endfor %}

        </div>
    </div>
</div>