{% load static %}

<div class="row question answer">
    <div class="question-left d-flex align-items-start flex-column">
        <img src="{{ answer.profile_id.avatar.url }}" alt="User Avatar"/>
        {% include 'include/rating.html' with type='answer' pk=answer.pk rating=answer.rating %}

    </div>
    <div class="question-right">
        <div>
            <p style="white-space:pre-wrap">{{ answer.text }}</p>
        </div>

        <form>
            <div class="form-check" style="padding-top: 10px; border-top: 1px solid #cccccc;">
                {% if question.profile_id == request.user.profile %}
                    <input class="js-correct" type="checkbox" data-id="{{ answer.pk }}"
                           id="correct-{{ answer.pk }}" {% if answer.is_correct %} checked {% endif %}>
                    <label class="form-check-label" for="correct-{{ answer.pk }}" style="font-weight: 700;">
                        Correct!
                    </label>
                {% else %}
                    <input class="js-correct form-check-input" type="checkbox" data-id="{{ answer.pk }}"
                           id="correct1-{{ answer.pk }}" {% if answer.is_correct %} checked {% endif %} disabled>
                    <label class="form-check-label" for="correct-{{ answer.pk }}" style="font-weight: 700;">
                        Correct!
                    </label>
                {% endif %}
            </div>
        </form>

    </div>
</div>