{% load static %}
{% load index %}

<div class="row question">
    <div class="question-left d-flex align-items-start flex-column">
        <img src="{% static "img/200.jpg" %}" alt="User Avatar"/>
        <div class="mt-auto">
                <span class="badge bg-light text-dark answers-quantity"><a
                        href="{% url "question_page" pk=question.id %}"
                        style="color: #323834">2
                    answers</a></span>
        </div>
        <div class="d-flex mt-auto justify-content-between vote-btns">
            <button class="btn vote-button-down" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                </svg>
            </button>
            <div class="rating">+15</div>
            <button class="btn vote-button-up" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                     class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                            d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
                </svg>
            </button>
        </div>
    </div>
    <div class="question-right">
        <div class="question-header">
            <a href="{% url "question_page" pk=question.id %}" class="question-header">{{ question.title }}</a>
        </div>
        <div style="white-space: pre-wrap">{{ question.text }}</div>
        <div class="tags-container">

            {% for tag in tags %}
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="{% url "tag_page" tag=tag %}" class="tag-text">
                      {{ tag }}
                  </a>
                </span>
            {% endfor %}

        </div>
    </div>
</div>