{% extends "include/base.html" %}
{% load static %}

{% block questions_title %}
    {% include "include/quenstions_title_new.html" %}
{% endblock questions_title %}

{% block content %}
    {% for question in questions %}
        {% include "include/single_question.html" %}
    {% endfor %}
{% endblock content %}

{% block pagination %}
    {% include "include/pagination.html" %}
{% endblock pagination %}

{% block padding_side %}150px{% endblock padding_side %}

{% block jscode %}
    <script src="{% static '/js/votes.js' %}"></script>
{% endblock jscode %}