<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <title>AskSamoylov</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/my.css" rel="stylesheet" />

  <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
  <header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AskSamoylov</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <form class="d-flex search-container" style="padding-left: 10px; width: 50%">
            <input class="form-control me-2 search-input" type="search" placeholder="Search..." aria-label="Search" />
          </form>
          <button type="button" class="btn btn-success ask-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#637067" class="bi bi-pencil"
              viewBox="0 0 20 20">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
              </path>
            </svg>
            <span class="ask-button-text">ASK</span>
          </button>
        </div>

        <img src="../static/img/my-avatar.jpg" alt="Your Avatar" class="current-user-avatar" />
        <div style="margin: 0px 15px">
          <div class="user-name-and-funcs">
            Alexey
            <a href="#logout" class="text-decoration-none" style="margin-left: 3px">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#003eb6"
                class="bi bi-box-arrow-right" viewBox="0 0 18 18">
                <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z">
                </path>
                <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
                </path>
              </svg>
            </a>
          </div>
          <div class="settings">
            <a class="link-color" href="#settings">settings</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8" style="padding-left: 4%; padding-top: 100px">


          <div class="row question">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="mt-auto">
                <span class="badge bg-light text-dark answers-quantity"><a href="#" style="color: #323834">2
                    answers</a></span>
              </div>
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">+105</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="question-right">
              <div class="question-header">
                <a href="#" class="question-header">Does Python have a string 'contains' substring method?</a>
              </div>
              <div style="white-space: pre-wrap;">I'm looking for a string.contains or string.indexof method in Python.
I want to do:

      if not somestring.contains("blah"):
      continue
              </div>
              <div class="tags-container">
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">Python</a></span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">string</a>
                </span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href=" #" class="tag-text">programming</a>
                </span>
              </div>
            </div>
          </div>

          <div class="row question answer">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">+58</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="question-right">
              <div>
                <p style="white-space:pre-wrap">You can use the "in" operator:

      if "blah" not in somestring:
        continue</p>
              </div>

              <form>
                <div class="form-check" style="padding-top: 10px; border-top: 1px solid #cccccc;">
                  <input class="form-check-input" type="checkbox" value="" id="correctAnswer1" checked>
                  <label class="form-check-label" for="correctAnswer1" style="font-weight: 700;">
                    Correct!
                  </label>
                </div>
              </form>

            </div>
          </div>

          <div class="row question answer">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">+27</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="question-right">
              <div>
                <p style="white-space:pre-wrap">If it's just a substring search you can use:
      string.find("substring")

You do have to be a little careful with "find", "index", and "in" though, as they are substring searches.</p>
              </div>

              <form>
                <div class="form-check" style="padding-top: 10px; border-top: 1px solid #cccccc;">
                  <input class="form-check-input" type="checkbox" value="" id="correctAnswer2">
                  <label class="form-check-label" for="correctAnswer2" style="font-weight: 700;">
                    Correct!
                  </label>
                </div>
              </form>

            </div>
          </div>

          <div class="row question answer">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">-3</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="question-right">
              <div>
                <p style="white-space:pre-wrap">I don't understand your question</p>
              </div>

              <form>
                <div class="form-check" style="padding-top: 10px; border-top: 1px solid #cccccc;">
                  <input class="form-check-input" type="checkbox" value="" id="correctAnswer3">
                  <label class="form-check-label" for="correctAnswer3" style="font-weight: 700;">
                    Correct!
                  </label>
                </div>
              </form>

            </div>
          </div>


          <div class="d-flex ms-1 mb-3 border-top border-2 border-dark pt-4">
            <form class="d-flex flex-column w-100">
              <div class="d-flex w-100">
                <textarea class="form-control" rows="3" placeholder="Enter your answer" id="inputText"
                  maxlength="1000"></textarea>
              </div>
              <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-success btn-md">Answer</button>
              </div>
            </form>
          </div>


          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&lt;</a>
              </li>
              <li class="page-item active disabled">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">...</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">&gt;</a>
              </li>
            </ul>
          </nav>
        </div>


        <div class="col-4" style="padding-left: 4%; padding-top: 100px">

          <div>
            <span class="top-categories">Popular Tags</span>
            <div class="d-flex align-items-end mt-3">
              <div class="d-flex me-3 text-success">
                Techopark
              </div>
              <div class="d-flex me-3 text-danger fs-4">
                python
              </div>
              <div class="d-flex me-3">
                MySQL
              </div>
            </div>
            <div class="d-flex align-items-end">
              <div class="d-flex me-3">
                VSCode
              </div>
              <div class="d-flex me-3 fs-4 text-success">
                Ubuntu
              </div>
              <div class="d-flex me-3 text-success">
                schemes
              </div>
            </div>
            <div class="d-flex align-items-end">
              <div class="d-flex me-3 text-danger fs-4">
                django
              </div>
              <div class="d-flex me-3">
                Chrome
              </div>
              <div class="d-flex me-3">
                perl
              </div>
            </div>
          </div>


          <div class="mt-5">
            <span class="top-categories">Top Members</span>
            <div class="mb-2 mt-3">
              <a class="top-members" href="#">Tim Roberts</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">unutbu</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">Alex Martelli</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">jezrael</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">Sven Marnach</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-2">
    <div class="container">
      <span class="footer-text">Made by Alexey Samoylov</span>
    </div>
  </footer>

  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>