<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <title>AskSamoylov</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/my.css" rel="stylesheet" />

  <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
  <header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AskSamoylov</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <form class="d-flex search-container" style="padding-left: 10px; width: 50%">
            <input class="form-control me-2 search-input" type="search" placeholder="Search..." aria-label="Search" />
          </form>
          <button type="button" class="btn btn-success ask-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#637067" class="bi bi-pencil"
              viewBox="0 0 20 20">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
              </path>
            </svg>
            <span class="ask-button-text">ASK</span>
          </button>
        </div>

        <div style="margin: 0px 15px">
          <button onclick="location.href='login.html'" type="button" class="btn btn-success ask-button">
            <span class="ask-button-text" style="margin-left: 4px;">Login</span>
          </button>

          <button onclick="location.href='register.html'" type="button" class="btn btn-success ask-button">
            <span class="ask-button-text" style="margin-left: 4px;">Register</span>
          </button>
        </div>
      </div>
    </nav>
  </header>
  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8" style="padding-left: 4%; padding-top: 100px">

          <div class="row question">
            <div style="margin-bottom: 30px">
              <span class="sort-categories">Sign up to ask and answer</span>
            </div>

            <form class="needs-validation" novalidate>
              <div class="d-flex ms-5 mb-3">
                <label for="inputLogin" class="col-sm-3 col-form-label col-form-label-lg"
                  style="font-weight: 600;">Login</label>
                <div class="d-flex flex-column">
                  <div class="d-flex w-100 ms-3">
                    <input type="text" class="form-control" placeholder="login" id="inputLogin" maxlength="15" required>
                  </div>
                  <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please enter username.
                  </div>
                </div>
              </div>
              <div class="d-flex ms-5 mb-3">
                <label for="inputEmail" class="col-sm-3 col-form-label col-form-label-lg"
                  style="font-weight: 600;">Email</label>
                <div class="d-flex flex-column">
                  <div class="d-flex w-100 ms-3">
                    <input type="email" class="form-control" placeholder="user@mail.com" id="inputEmail" maxlength="20"
                      required>
                  </div>
                  <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please enter email.
                  </div>
                </div>
              </div>
              <div class="d-flex ms-5 mb-3">
                <label for="inputPassword" class="col-sm-3 col-form-label col-form-label-lg"
                  style="font-weight: 600;">Password</label>
                <div class="d-flex flex-column">
                  <div class="d-flex w-100 ms-3">
                    <input type="password" class="form-control" placeholder="password" id="inputPassword" maxlength="20"
                      required>
                  </div>
                  <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please enter password.
                  </div>
                </div>
              </div>
              <div class="d-flex ms-5 mb-3">
                <label for="inputPassword2" class="col-sm-3 col-form-label col-form-label-lg"
                  style="font-weight: 600;">Repeat password</label>
                <div class="d-flex flex-column">
                  <div class="d-flex w-100 ms-3">
                    <input type="password" class="form-control" placeholder="password" id="inputPassword2"
                      maxlength="20" required>
                  </div>
                  <div class="d-flex w-100 ms-3 invalid-feedback">
                    Please repeat password.
                  </div>
                </div>
              </div>
              <div class="d-flex ms-5 mb-3">
                <label for="inputAvatar" class="col-sm-3 col-form-label col-form-label-lg"
                  style="font-weight: 600;">Avatar</label>
                <div class="d-flex mt-2 ms-3">
                  <input type="file" class="form-control" id="inputAvatar">
                </div>
              </div>
              <div class="d-flex mb-3 ms-5">
                <div class="col-sm-3"></div>
                <div class="d-flex ms-3">
                  <button type="submit" class="btn btn-success btn-lg">Register</button>
                </div>

              </div>
            </form>

          </div>
        </div>



        <div class="col-4" style="padding-left: 4%; padding-top: 100px">

          <div>
            <span class="top-categories">Popular Tags</span>
            <div class="d-flex align-items-end mt-3">
              <div class="d-flex me-3 text-success">
                Techopark
              </div>
              <div class="d-flex me-3 text-danger fs-4">
                python
              </div>
              <div class="d-flex me-3">
                MySQL
              </div>
            </div>
            <div class="d-flex align-items-end">
              <div class="d-flex me-3">
                VSCode
              </div>
              <div class="d-flex me-3 fs-4 text-success">
                Ubuntu
              </div>
              <div class="d-flex me-3 text-success">
                schemes
              </div>
            </div>
            <div class="d-flex align-items-end">
              <div class="d-flex me-3 text-danger fs-4">
                django
              </div>
              <div class="d-flex me-3">
                Chrome
              </div>
              <div class="d-flex me-3">
                perl
              </div>
            </div>
          </div>


          <div class="mt-5">
            <span class="top-categories">Top Members</span>
            <div class="mb-2 mt-3">
              <a class="top-members" href="#">Tim Roberts</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">unutbu</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">Alex Martelli</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">jezrael</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">Sven Marnach</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-2">
    <div class="container">
      <span class="footer-text">Made by Alexey Samoylov</span>
    </div>
  </footer>

  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>