<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <title>AskSamoylov</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/my.css" rel="stylesheet" />

  <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
  <header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AskSamoylov</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <form class="d-flex search-container" style="padding-left: 10px; width: 50%">
            <input class="form-control me-2 search-input" type="search" placeholder="Search..." aria-label="Search" />
          </form>
          <button type="button" class="btn btn-success ask-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#637067" class="bi bi-pencil"
              viewBox="0 0 20 20">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
              </path>
            </svg>
            <span class="ask-button-text">ASK</span>
          </button>
        </div>

        <div style="margin: 0px 15px">
          <button onclick="location.href='login.html'" type="button" class="btn btn-success ask-button">
            <span class="ask-button-text" style="margin-left: 4px;">Login</span>
          </button>

          <button onclick="location.href='register.html'" type="button" class="btn btn-success ask-button">
            <span class="ask-button-text" style="margin-left: 4px;">Register</span>
          </button>
        </div>
      </div>
    </nav>
  </header>
  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8" style="padding-left: 4%; padding-top: 100px">
          <div style="margin-bottom: 30px">
            <span class="sort-categories" style="font-weight: 300; margin-right: 10px;">Tag:</span><span
              class="sort-categories">Python</span>
          </div>


          <div class="row question">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="mt-auto">
                <span class="badge bg-light text-dark answers-quantity"><a href="#" style="color: #323834">2
                    answers</a></span>
              </div>
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">+15</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="question-right">
              <div class="question-header">
                <a href="#" class="question-header">Why is processing a sorted array faster than processing an
                  unsorted array?</a>
              </div>
              <div>
                Here is a piece of C++ code that shows some very peculiar
                behavior. For some strange reason, sorting the data
                miraculously makes the code almost six times faster: #include.
                For some strange reason, sorting the data miraculously makes
                the code almost six times faster.
              </div>
              <div class="tags-container">
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">Python</a></span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">operators</a>
                </span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href=" #" class="tag-text">programming</a>
                </span>
              </div>
            </div>
          </div>

          <div class="row question">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="mt-auto">
                <span class="badge bg-light text-dark answers-quantity"><a href="#" style="color: #323834">2
                    answers</a></span>
              </div>
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">+15</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="question-right">
              <div class="question-header">
                <a href="#" class="question-header">Why is processing a sorted array faster than processing an
                  unsorted array?</a>
              </div>
              <div>
                Here is a piece of C++ code that shows some very peculiar
                behavior. For some strange reason, sorting the data
                miraculously makes the code almost six times faster: #include.
                For some strange reason, sorting the data miraculously makes
                the code almost six times faster.
              </div>
              <div class="tags-container">
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">Python</a></span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">operators</a>
                </span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href=" #" class="tag-text">programming</a>
                </span>
              </div>
            </div>
          </div>

          <div class="row question">
            <div class="question-left d-flex align-items-start flex-column">
              <img src="../static/img/200.jpg" alt="User Avatar" />
              <div class="mt-auto">
                <span class="badge bg-light text-dark answers-quantity"><a href="#" style="color: #323834">2
                    answers</a></span>
              </div>
              <div class="d-flex mt-auto justify-content-between vote-btns">
                <button class="btn vote-button-down" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#f07f7f"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                  </svg>
                </button>
                <div class="rating">+15</div>
                <button class="btn vote-button-up" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#90cc74"
                    class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                    <path
                      d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                  </svg>
                </button>
              </div>
            </div>

            <div class="question-right">
              <div class="question-header">
                <a href="#" class="question-header">Why is processing a sorted array faster than processing an
                  unsorted array?</a>
              </div>
              <div>
                Here is a piece of C++ code that shows some very peculiar
                behavior. For some strange reason, sorting the data
                miraculously makes the code almost six times faster: #include.
                For some strange reason, sorting the data miraculously makes
                the code almost six times faster.
              </div>
              <div class="tags-container">
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">Python</a></span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href="#" class="tag-text">operators</a>
                </span>
                <span class="badge rounded-pill tag-in-question-pill">
                  <a href=" #" class="tag-text">programming</a>
                </span>
              </div>
            </div>
          </div>


          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&lt;</a>
              </li>
              <li class="page-item active disabled">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">...</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">&gt;</a>
              </li>
            </ul>
          </nav>
        </div>


        <div class="col-4" style="padding-left: 4%; padding-top: 150px">

          <div>
            <span class="top-categories">Popular Tags</span>
            <div class="d-flex align-items-end mt-3">
              <div class="d-flex me-3 text-success">
                Techopark
              </div>
              <div class="d-flex me-3 text-danger fs-4">
                python
              </div>
              <div class="d-flex me-3">
                MySQL
              </div>
            </div>
            <div class="d-flex align-items-end">
              <div class="d-flex me-3">
                VSCode
              </div>
              <div class="d-flex me-3 fs-4 text-success">
                Ubuntu
              </div>
              <div class="d-flex me-3 text-success">
                schemes
              </div>
            </div>
            <div class="d-flex align-items-end">
              <div class="d-flex me-3 text-danger fs-4">
                django
              </div>
              <div class="d-flex me-3">
                Chrome
              </div>
              <div class="d-flex me-3">
                perl
              </div>
            </div>
          </div>


          <div class="mt-5">
            <span class="top-categories">Top Members</span>
            <div class="mb-2 mt-3">
              <a class="top-members" href="#">Tim Roberts</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">unutbu</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">Alex Martelli</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">jezrael</a>
            </div>
            <div class="mb-2">
              <a class="top-members" href="#">Sven Marnach</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-2">
    <div class="container">
      <span class="footer-text">Made by Alexey Samoylov</span>
    </div>
  </footer>

  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>